<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Electricity Billing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<h1>Electricity billing system</h1>
		<br>
		<br>
		 	<!--  <div>
			    <i class="glyphicon glyphicon-home"></i>
			    <i class="glyphicon glyphicon-search"></i>
			    <i class="glyphicon glyphicon-cloud"></i>
			    <i class="glyphicon glyphicon-trash"></i>
			    Welcome!
			  </div> -->
		<br>
		<h3><a th:href="@{/}">Home</a></h3>
		<h3><a th:href="@{/register}">Register</a></h3>
		<h3><a th:href="@{/login}">Login</a></h3>
		<h3><a th:href="@{/quickpay}">Quick Pay</a></h3>
		<h3><a th:href="@{/knowcustomerid}">Know your Customer Id</a></h3>
		<h3><a th:href="@{/billcalculator}">Bill Calculator</a></h3>
	</div>	
</body>
</html>